@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;600&family=IBM+Plex+Sans+KR:wght@200&display=swap');

:root{
    /* color */
    --color-black: #222222;
    --color-white: #e0e0e0;
    --color-orange: #e77122;
    --color-darkorange:#b35211;
    --color-gray:#bdbdbd;

    /* size */
    --default-padding:15px;
    --main-padding: 30px;
    --btn-width-size:180px;
    --btn-height-size:50px;

    /* font size */
    --big-main-font:50px;
    --large-font: 22px;
    --medium-font:18px;
    --small-font:16px;
    --micre-font:14px;
}

body{
    height: 100vh;
    width: 100vw;
    
    background-image: linear-gradient(rgba(11, 11, 11, 0.8),rgba(0,0,0,0.5) ),url('./img/coding.jpg');
    background-repeat: repeat-y;
    background-image: contain;
    background-size: cover;
    margin:0px;
    padding:0px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
h4,
p{
    margin:0;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--default-padding);
    background-image: url("coding.jpg");
}

.header .logo{
    font-size: var(--large-font);
}

.header .logo i{
    color: var(--color-orange);
}

.header .logo a{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--color-white);    
}

.header .search{
    color: var(--color-white);
    border-radius: 1px;
    border: 1px solid rgba(0,0,0,0.3);
}

.header .search input{
    font-size: var(--medium-font);
}

.header .nav{
    display: flex;
    color: var(--color-white);
    padding:0;
}

.header .nav a{
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--medium-font);
}

.header .nav li{
    padding: 0 var(--default-padding);
}

.main{
    display: flex;
    flex-direction: column;
    margin: 7% 10%;
}

.main .maintext{
    display: flex;
    flex-direction: column;
}

.main .maintext .bigtext{
    font-family: 'Be Vietnam Pro';
    color: var(--color-white);
    font-size: var(--big-main-font);
    margin-bottom: var(--main-padding);
}

.main .maintext .smalltext{
    color: var(--color-white);
    padding-bottom: var(--main-padding);
    font-size: var(--small-font);
}

.main button{
    border: none;
    border-radius: 6px;
    width: var(--btn-width-size);
    height: var(--btn-height-size);
    font-size: var(--small-font);
    cursor: pointer;
    margin: 0px var(--main-padding);
}

.main .morebtn .start{
    background-color: var(--color-orange);
    color: var(--color-white);
}

.main .morebtn .start:hover{
    background-color: var(--color-darkorange);
    color: var(--color-gray);
}

.main .morebtn .view{
    background-color: var(--color-white);
    color: var(--color-orange);
}

.main .morebtn .view:hover{
    background-color: var(--color-gray);
    color: var(--color-darkorange);
}

.info{
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    margin: 60px 8%;
}

.info i{
    margin-right:var(--main-padding);
}

.info .info_first, 
.info .info_second,
.info .info_third
{
    display: flex;
    align-items: center;
    width: 28%;
}

.info .info_title{
    font-size:var(--medium-font);
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.info .info_body{
    font-size: var(--small-font);
}


@media(max-width:880px){
    .header .nav{
        display: none;
    }

    .header .morenav{
        display: flex;
        color: var(--color-white);
        font-size: var(--medium-font);
    }
}

@media(max-width:680px){
    body{
        background-repeat: repeat-y;
    }

    .header .nav{
        display: none;
    }

    .header .search input{
        display: none;
    }

    .header .morenav{
        display: flex;
        color: var(--color-white);
        font-size: var(--medium-font);
    }

    .main .morebtn{
        display: flex;
        flex-direction: column;
    }
    
    .main .morebtn .start,
    .main .morebtn .view{
        margin: var(--default-padding) 0px 0px 0px;
    }

    .info{
        margin: 10%;
        display: flex;
        flex-direction: column;
    }

    .info .info_first, 
    .info .info_second,
    .info .info_third
    {
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: var(--main-padding);
    }
}
